body {
    background-image: url("../images/linedpaper.png");

}

.titleText {
    font-family: 'Bangers', cursive;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 70px;
}

.cartoon,
.submitButton {
    font-family: 'Oxygen', sans-serif;
    color: white;
    background-color: #4F91CD;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

form {
    margin-top: 20px;
    margin-bottom: 40px;
}

.addText {
    font-family: 'Bangers', cursive;
    font-size: 30px;
}